   
   
   * {
        margin: 0%;
        padding: 0%;
        font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background: transparent;
}
span{
    background: #ff9c2a;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}
.logo{
    width: 150px;
    cursor: pointer;
    padding: 0;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background-color: #ff9c2a;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
header h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}

header {
    padding: 40px 10px;
    background-color: rgb(203, 124, 27);
}

nav {
    background: url("https://www.youtube.com/watch?v=H8DrVSH3Jd8");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

main {
    background-color: white;
    text-align: center;
}

h2 {
    padding: 20px;
}

section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}


section .slider{
    width: 100%;
    overflow: hidden;
}

section .slide{
    border-radius: 12px;
    box-shadow: 1px 1px 10px black;
    width: 560px;
    margin: 0px 20px;
}

video {
    padding: 10px;
}

img {
    padding: 10px;
}

section h5 {
    margin: 40px;
}
    @import url('https://fonts.googleapis.com/css2?display=swap&family=Poppins:wght@300;400;500;600;700&display=swap');
    body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   text-align: left;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	/* left:0; */
	bottom: -10px;
	background-color: #ff8d0a ;
	height: 2px;
	box-sizing: border-box;
	width: 75px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
    text-align: center;
}
}


.slide-right {
    width: 100%;
    overflow: hidden;
    /* margin-left: 400px;
    max-width: 500px */
  }
  
  .slide-right h1 {
    animation: 3s slide-right;
    animation-delay: 2s;
  }
  
  @keyframes slide-right {
    from {
      margin-left: -500px;
    }
  
    to {
      margin-left: 0%;
    }
  }

  .containerSlide {
    margin: 0 auto;
    padding: 40px;
  }
  
  .slick-slider {
    text-align: center;
    margin: 10px;
  }