.text-animation-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .text-animation {
    display: inline-block;
    animation: moveLeftToRight 4s linear infinite;
  }
  
  .text {
    /* margin-right: 20px; Adjust as needed */
  }
  
  @keyframes moveLeftToRight {
    0% {
      transform: translateX(105vw);
    }
    50%{
      transform: translateX(23vw);
    }
    100% {
      transform: translateX(105vw);
    }
  }
  